.hero-section-page-2 {
    background-image: linear-gradient(#e5e5e5 1px, transparent 1px),
        linear-gradient(90deg, #e5e5e5 1px, transparent 1px);
    background-size: 40px 40px; /* ukuran kotak */
    background-color: #fafafa; /* warna dasar */
}

.my-app-dark .hero-section-page-2 {
    background-color: #0d1117; /* warna gelap elegan */
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
}

